@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}
section{
    margin-top: 30px;
    text-align: center;
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}
.text-center{
    font-size: 35px;
    font-weight: 800;
}
.row{
  margin: 8px 0;
}
.row input{
    width: 291px;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: end;
    padding-right: 5px;
}
.container{
    background-color: brown;
    width: 350px;
    padding: 10px;
    border: 5px solid;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}